environment:
    
  binstar_token:
    secure: 2UM9/RcnyzEUFigIPUtdeHhMQmnDODzmclnlUJ1Ag4r7Y058KS0BBJAbWDWdnB73

  global:
    # SDK v7.0 MSVC Express 2008's SetEnv.cmd script will fail if the
    # /E:ON and /V:ON options are not enabled in the batch script intepreter
    # See: http://stackoverflow.com/a/13751649/163740
    CMD_IN_ENV: "cmd /E:ON /V:ON /C .\\run_with_env.cmd"

  matrix:
    - PYTHON: "C:\\Python26_32"
      PYTHON_VERSION: "2.6"
      PYTHON_ARCH: "32"
      CONDA_PY: "26"
      CONDA_NPY: "19"

    - PYTHON: "C:\\Python27_32"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "32"
      CONDA_PY: "27"
      CONDA_NPY: "19"

    - PYTHON: "C:\\Python26_64"
      PYTHON_VERSION: "2.6"
      PYTHON_ARCH: "64"
      CONDA_PY: "26"
      CONDA_NPY: "19"

    - PYTHON: "C:\\Python27_64"
      PYTHON_VERSION: "2.7"
      PYTHON_ARCH: "64"
      CONDA_PY: "27"
      CONDA_NPY: "19"

install:
  # install the appropriate Miniconda (Py2/Py3, 32/64 bit),
  # as well as conda-build and the binstar CLI
  - powershell .\\install.ps1
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"

build: false

test_script:
  # Build and test the package.
  - "%CMD_IN_ENV% conda build conda-recipe --quiet"
  # Move the conda package into the current directory, to register it
  # as an "artifact" for Appveyor. cmd.exe does't have good globbing, so
  # we'll use a simple python script.
  - python move-conda-package.py conda-recipe

artifacts:
  # Archive the generated conda package in the ci.appveyor.com build report.
  - path: '*.tar.bz2'

on_success:
  # Upload built binaries to binstar.org. The globbing and handling of the
  # exit-status code is tricky in cmd.exe or powershell, so we're just using
  # a python script.
  - python binstar-push.py
